[mysqld]
default_authentication_plugin=mysql_native_password

disable-log-bin
innodb_doublewrite = 0

max_connections=1000  # <- connection の limit を更新
innodb_buffer_pool_size = 1GB # ディスクイメージをメモリ上にバッファさせる値をきめる設定値(メモリの75%くらい)
innodb_flush_log_at_trx_commit = 0 # 1に設定するとトランザクション単位でログを出力するが 2 を指定すると1秒間に1回ログを吐く。0だとログも1秒に1回。
innodb_flush_method = O_DIRECT # データファイル、ログファイルの読み書き方式を指定する(実験する価値はある)

innodb_file_per_table=ON # InnoDBのデータ領域をテーブルごとに変える

# innoDBの更新ログを保持するメモリ
innodb_log_buffer_size = 16MB

# InnoDBの更新ログを記録するディスク上のファイルサイズ(innodb_buffer_pool_sizeの4分の1程度)
innodb_log_file_size=250MB

# ORDER BYやGROUP BYのときに使われるメモリ上の領域
innodb_sort_buffer_size = 4MB
read_rnd_buffer_size = 2MB #
key_buffer_size = 256MB # これも可能なら大きくした方が良い

# [MySQL 8.0.22 で innodb_log_writer_threads の効果を見てみる - Qiita](https://qiita.com/hmatsu47/items/06489ef05bfcaaf310f3)
# CPUコアが少ない場合はOFF
innodb_log_writer_threads = off
